%footer.site-footer{ :role => 'contentinfo'}
  .container
    .primary-links
      %ul.site-links
        - ['About','Services', 'Contact'].each do |menu|
          %li
            %a{:href => 'javascript:void(0)'}
              %span=menu
    .social
      %ul.social-icons
        - data.settings.services.each do |service_name, service_link|
          %li
            = link_to service_link do
              %span=service_name
              %i{:class => "fa fa-#{service_name} fa-fw"}
    .copy
      %p
        &copy; #{Time.now.year.to_s} CWBL Limited | All Rights Reserved.
