.nav-container
  .mobile-menu{:'data-nav-id' => 'main-nav'}
    %i.fa.fa-navicon
  .brand=data.settings.site.brand
  %nav#main-nav{:role => 'navigation'}
    %ul.nav-list
      %li.nav-link=link_to 'Home', '/'
      %li.nav-link=link_to 'About', 'about/'
      %li.nav-link=link_to 'Services', 'services/'
      %li.nav-link=link_to 'Contact', 'contact'
