%nav.site-nav{ :role => 'navigation'}
  .mobile-menu
    %i.fa.fa-navicon
  .nav-links
    = link_to 'Home', '/'
    = link_to 'About', 'about/'
    = link_to 'Services', 'services/'
    = link_to 'Contact', 'contact'
