// @extend %first-letter
$rgba-primary-0: rgba(255,221,  0,1);	// Main Primary color */
$rgba-primary-1: rgba(255,234, 99,1);
$rgba-primary-2: rgba(255,228, 57,1);
$rgba-primary-3: rgba(197,170,  0,1);
$rgba-primary-4: rgba(155,134,  0,1);

$rgba-secondary-1-0: rgba(255, 89,  0,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(255,154, 99,1);
$rgba-secondary-1-2: rgba(255,126, 57,1);
$rgba-secondary-1-3: rgba(197, 69,  0,1);
$rgba-secondary-1-4: rgba(155, 54,  0,1);

$rgba-secondary-2-0: rgba( 52,216,  0,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(121,226, 88,1);
$rgba-secondary-2-2: rgba( 90,219, 49,1);
$rgba-secondary-2-3: rgba( 40,167,  0,1);
$rgba-secondary-2-4: rgba( 32,131,  0,1);
// As RGBa codes */


$color-slide-0: #8C2114;
$color-slide-1: #8A654A;
$color-slide-2: #8B7322;
$color-slide-3: #078B74;
$color-slide-4: #5F818B;
$color-from-logo: rgba(102, 205, 0, 1);
// Widths
$mobile-width: em(480);
$small-tablet-width: em(720);
$large-tablet-width: em(960);
$desktop-width: em(1050);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(max-width $mobile-width, 4);
$small-tablet: new-breakpoint(min-width $small-tablet-width max-width $large-tablet-width - 1, 8);
$large-tablet: new-breakpoint(min-width $large-tablet-width max-width $desktop-width - 1, 12);
$tablet: new-breakpoint(min-width $small-tablet-width max-width $desktop-width - 1, 12);
$desktop: new-breakpoint(min-width $desktop-width, 16);

$small-tablet-down: new-breakpoint(max-width $large-tablet-width, 8);
$tablet-down: new-breakpoint(max-width $desktop, 8);

%first-letter {
  &:first-letter {
    //color: #009B77;
    font: 800 3.6em/0.5 'Roboto', sans-serif;
    left: -0.5em;
    float: left;
    margin: 0.1em 0.1em 0.2em 0;
    position: relative;
    top: -0.5em;
    @media screen and (max-width: 550px) {
      font-size: 2.8em;
      margin: 0.2em 0.2em 0.2em 0;
    }
  }
  @-moz-document url-prefix() {
    &:first-letter {
      margin-bottom: 0;
    }
  }
}
