html{
	width: 100%;
}
body{
  margin: 0 auto;
	font: 400 100%/1.5 'Roboto';
  //max-width: $max-width;
}
.site-main{
	position: relative;
}
.site-header{
	@include fullbleed;
	padding: 1em 0.5em 1em;
	position: absolute;
	background-color: $rgba-secondary-2-3;
	z-index: 3;
	top: 0;
	left: 0;
}

.site-nav{
	@include outer-container;
	position: relative;
	.navbar-brand{
	}
	.nav-links{
		display: inline-block;
		font: 400 1.2em/2em 'Oswald', sans-serif;
		//float:right;
		padding: 0em 1.5em 0em;

		a{
			margin-right: 1.5em;
			&:hover{
				line-height: 150%;
			}
		}
		& a:last-child{
			margin-right: 0;
		}
	}
	.mobile-menu{
		display: inline-block;
		float: right;
		i{
			text-align: center;
			//display: table-cell;
			//vertical-align: middle;
			height: 2em;
			width: 2em;
			font-size: 1.2em;
			line-height: 2em;
			border-radius: 100%;
			border-width: 2px;
			border-style: solid;
			border-color: $rgba-primary-0;
			color: $rgba-primary-0;
			//border-color: white;
			//color: white;
			&:hover {
				cursor: pointer;
        border-color: shade($action-color, 25%);
        color: shade($action-color, 25%);
				//border-color: shade(white, 25%);
        //color: shade(white, 25%);
      }
		}
	}
}

.hero{
	@include fullbleed;
	$hero-background-top: transparentize($rgba-secondary-2-3,1);
	$hero-background-bottom: transparentize($rgba-secondary-2-4,0.90);
	$gradient-angle: 0deg;
	$hero-image: '../images/livingRoom03.jpg';
	@include background( linear-gradient($gradient-angle, $hero-background-top, $hero-background-bottom), url($hero-image), no-repeat scroll);
	background-size: cover;
	padding: 4em 0em;
	height: 100vh;
	.hero-inner{
		@include container;
		@include clearfix;
		padding: 6em 4em 6em;
		margin: 0 auto;
		text-align: center;
		.top-panel{
			@include span-columns(12);
			text-align: center;
			h2{
				font-size: 4em;
				line-height: 0.8;
				color: $rgba-primary-0;
			}
		}
		.bottom-panel{
			@include span-columns(10);
			@include shift(1);
			padding-top: 1.5em;
			.panel-content{
				@include span-columns(6 of 10);
				@include shift(1);
				p {
					color: white;
					margin:10px 30px;
					text-align:center;
					font-size:2em;
				}
			}
			.cta-bar{
				@include span-columns(3 of 10);
				height: 33vh;
				//padding: 2.5em 0;
				background-color: #DCDCDC;
				border-radius: 3px;
			  border: 1px solid #DCDCDC;
			  box-shadow: 0 1px 2px darken(#f2f2f2, 10%);
			  cursor: pointer;
			  //margin: 0 1em 1.5em 1em;
			  position: relative;
				overflow: hidden;
				.cta-item{
					display: inline-block;
					height: 100%;
				}
				.cta-text{
					color: $rgba-secondary-2-4;
					font-size: 1.2em;
				}

				.cta-button{
					width: 100%;
					@include transition (all 0.2s ease-in-out);

				}
			}
		}
		h2, p{
			position:relative;
			text-shadow:4px 4px 8px rgba(0, 0, 0, 0.2);
		}
		.gallery-container{
		}
	}
}
//
.site-footer{
	@include fullbleed;
	background-color: #4d4d4d;
	.footer-container{
		@include outer-container;
		padding: 1em 0;
		.footer-primary-links{
			@include span-columns(6);
			padding-top: 1em;
		}
		.footer-social{
			@include span-columns(6);
			@include omega();
			padding-top: 1em;
			text-align: right;
			span {
				display: none;
			}
			a{
				border-color: transparent;
			}
		}
		.footer-legal{
			@include span-columns(12);
			padding-top: 1em;
			p{
				color: #d2d2d2;
				font-size: 0.8em;
				letter-spacing: 0.05em;
			}
		}
	}
}
//
.social-icons, .site-links{
  padding: 0.5em 0;
	li {
		display: inline;
    margin-right: 1.5em;
    &:last-child {
      margin-right: 0;
    }
    a {
    	display: inline-block;
			font-size: 1.2em;
			padding: 0.5em;
      text-align: center;
			border-left: 2px solid $rgba-secondary-2-3;
			color: #d2d2d2;
      @include transition(all 0.1s ease);
      &:hover {
				color: $rgba-primary-0;
				color: white;
				background-color: $rgba-secondary-2-3;
      }
    }
  }
}
//

.about {
	@include fullbleed;
	@include clearfix;
	background-color: lighten(#D2D2D2,15%);
	padding: 4em 0;
	section{
		@include container--text;
		position: relative;

		.about-content {
			position: relative;
			width: 100%;
			height: 250px;
			p {
				@extend %first-letter;
				display: none;
				//color: $rgba-secondary-2-4;
				color: #4d4d4d;
				position: absolute;
			}
			.is-active{
				display: block;
				//position: absolute;
			}
		}
		@media screen and (min-width: 850px){
			.about-content{
				padding: 2em 2em;
				font-size: 1.5em;
				//vertical-align: middle;
			}
		}
	}
}

.home-services{
	@include fullbleed;
	background-color: #4D4D4D;
	color: white;
	i{
		color: $rgba-primary-0;
	}
	.services-wrapper{
		@include outer-container;
		padding: 4em 0;
	}
	.services-header{
		@include span-columns(10);
		@include shift(1);
		//@include clearfix;
		padding: 1em 0;
		font-size: 2em;
	}
	.services-content{
		@include span-columns(10);
		@include shift(1);
		//@include clearfix;
		//padding: 1.5em 0 1.5em 0;
	}
	.services-footer{
		@include span-columns(6);
		@include shift(4);
		//to vertically align children
		//set line-height to the tallest child
		padding: 1em 0;
		//line-height: 2.5em;
		p{
			display: inline-block;
			//or set vertical align middle on each child
			vertical-align: middle;
			margin: 0 auto;
		}
		.services-button{
			display: inline-block;
			//or set vertical align middle on each child
			vertical-align: middle;
			padding: 0 1.5em 0;
		}
	}
}
.home-banner{
	@include clearfix;
	@include transition (all 0.2s ease-in-out);
	//margin: 2em 0;
	padding: 4em 0em;
	text-decoration: none;
	background-color: lighten($rgba-secondary-2-4,70%);
	section {
		@include outer-container;
		.banner-text {
			@include span-columns(5);
			@include shift(3);
			h2{
				font-size: 2em;
				color: white;
				color: $rgba-secondary-2-4;
				text-shadow:4px 4px 8px rgba(0, 0, 0, 0.2);
				//color: #4d4d4d;
			}
			p{
				display: none;
				font-size: 1.5em;
				color: #4d4d4d;
				color: $rgba-secondary-2-4;
				text-shadow:4px 4px 8px rgba(0, 0, 0, 0.2);
			}
			.is-active{
				display: block;
				margin: 0 auto;
			}
		}
		.banner-cta{
			@include span-columns(4);
			.button{
				@include button;
				margin: 0 auto;
			}
		}
	}
}
.clients-blockquote{
	@include fullbleed;
	background-color: #d2d2d2;

	#slider-wrapper {
		@include outer-container;
	  //width: 100%;
	  height: 400px;
	  //background-color: #333;
	  padding: 0px;
	  margin: 0 0 10px 0;
		margin: 0 auto;
	  position: relative;
	}

	#slider {
		@include span-columns(8);
		@include shift(2);
		//width: 100%;
		height: 400px;
	  //margin: 0 auto;
	  position: relative;
	}

	.slide {
	  position: absolute;
	  width: 100%;
	  height: 400px;
		background-color: #d2d2d2;
	  overflow: hidden;
	  opacity: 1;
	  text-align: center;
		p{
			@extend %first-letter;
			font-size: 1.4em;
			color: $rgba-primary-1;
			color: #4d4d4d;
		}
		h2{
			color: $rgba-secondary-2-4;
			font-size: 1.1em;
		}
		span{
			color: $rgba-primary-4;
		}
	}

	.slide-content{
		@include container--text;
		position: relative;
		top: 50%;
    transform: translateY(-50%);
		color: #4d4d4d;
	}

	#progressBar {
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1000;
	  width: 100%;
	  height: 5px;
	  background: rgba(255, 255, 255, 0.6);
	}
}

.contact{
	@include fullbleed;
	background-color: white;
	.content{
		@include outer-container;
		padding: 6em 2em;
	}
}
