---
title: welcome to a clean world better living
---
<div class="home-hero hero">
  <div class="hero-inner">
    <div class="top-panel">
      <h2>Clean World Better Living</h2>
    </div>
    <div class="bottom-panel">
      <div class="hero-main panel-content">
        <p class="anim-block ">
          We are dedicated to provide green cleaning services for homes and business using standard procedures, the best equipment and environmental friendly products that care for the health of our clients.
        </p>
      </div>
      <div class="cta-bar">
        <div class="cta-item">
          <div class="cta-mesg cta-text">
            <p>
              A happier life start here.
            </p>
          </div>
          <div class="cta-button">
            <a class="button" href=""><span>Get a Quote!</span></a>
          </div>
        </div>
        <div class="cta-item">
          <div class="cta-mesg cta-text">
            <p>
              10% Off for New Clients
            </p>
          </div>
          <div class="cta-button">
            <a class="button" href=""><span>Get 10% Off!</span></a>
          </div>
        </div>
        <div class="cta-item">
          <div class="cta-mesg cta-text">
            <p>
              Refer a friend and get discounts
            </p>
          </div>
          <div class="cta-button">
            <a class="button" href=""><span>Refer a Friend!</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-about about">
  <section>
    <div class="about-content">
      <p class="anim-block is-active ">
        Over 10 years in cleaning services gives us the knowledge required to manage this business with operational efficiency and professionalism. Our interest are focused on meeting your needs by offering high quality services and high levels of satisfaction to our customers. We strive to build relationships with home owners through honest, reliable, and top-notch service.
      </p>
    </div>
  </section>
</div>
<div class="home-services">
  <div class="services-wrapper">
    <div class="services-header">
      <p>
        We deliver eco-friendly cleaning services for families and businesses in San Francisco and the Bay Area.
      </p>
    </div>
    <div class="services-content">
      <div class="cards"> <div class="card">
        <div class="card-image">
          <i class="fa fa-big fa-home"></i>
        </div>
        <div class="card-header">
          Residential Cleaning
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <i class="fa fa-big fa-building"></i>
        </div>
        <div class="card-header">
          Office/Business Cleaning
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <i class="fa fa-big fa-truck"></i>
        </div>
        <div class="card-header">
          Special Services
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="services-footer">
    <p>
      Check our detailed services list here:
    </p>
    <div class="services-button">
      <a class="button" href="">
        <span>Services</span>
        <i class="fa fa-list"></i>
      </a>
    </div>
  </div>
  </div>
</div>
<div class="home-banner banner">
  <section>
    <div class="banner-text">
      <h2>We are eco friendly green cleaners.</h2>
      <p class="anim-block is-active ">
         We bring all of our own green supplies. You never have to worry about harmful cleaning chemicals and residues in your home or around your children or pets.
      </p>
    </div>
    <div class="banner-cta cta">
      <div class="cta-button button">
        <span>Learn more</span>
      </div>
    </div>
  </section>
</div>
<div class="clients-blockquote">
  <div id="slider-wrapper">
    <div id="slider">
      <div id="slide1" class="slide">
        <div class="slide-content">
          <p>
            We are eco friendly, green cleaners. We bring all of our own green supplies so that you never have to worry about harmful cleaning chemicals and residues. You don’t have to be concerned about being allergic to our cleaning supplies or having harsh chemicals in your home, on your surfaces, or around your children or pets.
          </p>
          <h2>John Doe</h2>
          <span>Oakland, Ca.</span>
        </div>
      </div>
      <div id="slide2" class="slide">
        <div class="slide-content">
          <p>
            Our interest are focused on meeting your needs by offering high quality services and high level satisfaction to our customers.We strive to build relationships with home owners through honest, reliable, and top-notch service.
          </p>
          <h2>John Doe</h2>
          <span>Oakland, Ca.</span>
        </div>
      </div>
      <div id="slide3" class="slide">
        <div class="slide-content">
          <p>
            Clean World is a professional residential  house cleaning service providing eco- friendly cleaning services for families in San Francisco bay area.
          </p>
          <h2>John Doe</h2>
          <span>Oakland, Ca.</span>
        </div>
      </div>
    </div>
    <div id="progressBar"></div>
  </div>
</div>
<% if false %>
<% end %>
