---
title: welcome to a clean world better living
---
<div class="home hero">
  <section>
    <header>
      <h2>Clean World Better Living</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </header>
    <div class="home-cta cta">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a class="button" href=""><span>Get a Quote!</span></a>
    </div>
  </section>
</div>

<div class="about">
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
  </section>
</div>

<div class="services">
  <section>
    <header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </header>
    <div class="content">
      <div class="cards">
        <div class="card">
          <div class="card-image">
            <i class="fa fa-big fa-home"></i>
          </div>
          <div class="card-header">
            Residential Cleaning
          </div>
          <div class="card-copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <i class="fa fa-big fa-building"></i>
          </div>
          <div class="card-header">
            Office/Business Cleaning
          </div>
          <div class="card-copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <i class="fa fa-big fa-truck"></i>
          </div>
          <div class="card-header">
            Special Services
          </div>
          <div class="card-copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="services-cta cta">
        <p>Check our detailed services list here:</p>
        <a class="button" href="">
          <span>Services</span>
        </a>
      </div>
    </div>
  </section>
</div>

<div class="banner">
  <section>
    <content>
      <h2>We are eco friendly green cleaners.</h2>
      <p>We bring all of our own green supplies. You never have to worry about harmful cleaning chemicals and residues in your home or around your children or pets.</p>
      <a class="button" href="">
        <span>Learn more</span>
      </a>
    </content>
  </section>
</div>

<div class="clients-blockquote">
  <div id="slider-wrapper">
    <div id="slider">
      <div id="slide1" class="slide">
        <div class="slide-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
          <h2>John Doe</h2>
          <span>Oakland, Ca.</span>
        </div>
      </div>
    </div>
  </div>
</div>
